table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
td, th {
    font-size: 8.5px;
    border: 1px solid #ddd;
    padding: 8px;
  }

tr:nth-child(even)
{
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
